<style>
body {
    background-image: url('https://www.shutterstock.com/image-photo/above-aerial-view-turquoise-ocean-water-2269898437');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
}
</style>
